**/*.class

# Build output
**/target/
test/find-hybrid-module/one/lib/find.hybrid.module.one-1.2.3.jar
test/find-hybrid-module/two/lib/find.hybrid.module.two-1.2.3.jar
actual

# IntelliJ files
**/*.iml
.idea/
